In [2]:
#type 1
for i in [11,22,33,44]:
    print ("i :",i)

i : 11
i : 22
i : 33
i : 44

In [1]:
#type 2
#first index will be inclusive 
#last index will be exclusive
for i in range(0,5):
    print ("i: ",i)

i:  0
i:  1
i:  2
i:  3
i:  4

In [3]:
#third argument of for loop will be the step
for i in range(0,10,2):
    print("i: ",i)

i:  0
i:  2
i:  4
i:  6
i:  8

In [4]:
#reverse printing
for i in range(10,0,-1):
    print("i: ",i)

i:  10
i:  9
i:  8
i:  7
i:  6
i:  5
i:  4
i:  3
i:  2
i:  1

In [5]:
n=int(input())
for i in range(1,n):
    k=(n)/2
    if(i<=k):
        print("."*(i-1),end="")
        print("*"*(n-2*i+1),end="")
        print("")
    else:
        print("."*((n-1)-i),end="")
        print("*"*(2*i-(n-1)),end="")
        print("")

"""
Upper
n-1
2*(i-m)+1
lower
i-1
2*(m-i)+1
"""

 8

*******
.*****
..***
...*
..***
.*****
*******

'\nUpper\nn-1\n2*(i-m)+1\nlower\ni-1\n2*(m-i)+1\n'

In [6]:
n=int(input())
for i in range(1,n):
    k=(n)/2
    if(i<=k):
        print("."*(i-1),end="")
        print("*"*(n-2*i+1),end="")
        print("")
    else:
        print("."*((n-1)-i),end="")
        print("*"*(2*i-(n-1)),end="")
        print("")

"""
Upper
n-1
2*(i-m)+1
lower
i-1
2*(m-i)+1
"""

 8

*******
.*****
..***
...*
..***
.*****
*******

'\nUpper\nn-1\n2*(i-m)+1\nlower\ni-1\n2*(m-i)+1\n'

In [8]:
"""
Assignment 2:
DIgital Root
ex
input:1291
output:13=4
"""
n=int(input())
while(n>9):
    s=0
    while(n != 0):
        x=n%10
        s=s+x
        n=n//10
    n=s
print(s)

 1238

5

In [ ]:
"""
Functions and Function calls
def func_name(arg1,arg2,...):
    Statement Block
"""

In [9]:
"""Factorial"""
def factorial(n):
    if(n==1):
        return (n)
    elif(n==0):
        return (n)
    else:
        fact=1
        for i in range(1,n+1):
            fact*=i
        return(fact)
factorial(4)

24

In [10]:
"""Factorial"""
def factorial(n):
    if(n==1):
        return (1)
    elif(n==0):
        return (1)
    else:
        return(n*factorial(n-1))
factorial(3)

6

In [12]:
#default args
def myfunc(arg1,arg2=50,arg3=50):
    print(" arg1 : {} \n arg2 : {} \n arg3 : {}".format(arg1,arg2,arg3))
    print("")
myfunc(2,3,4)
myfunc(2,3)
myfunc(2)

 arg1 : 2
 arg2 : 3
 arg3 : 4

 arg1 : 2
 arg2 : 3
 arg3 : 50

 arg1 : 2
 arg2 : 50
 arg3 : 50

In [13]:
def myfunc(arg1,arg2=50,arg3=49):
    print(" arg1 : {} \n arg2 : {} \n arg3 : {}".format(arg1,arg2,arg3))
    print("")
myfunc(2,3,4)
myfunc(arg1=2,arg3=11)
myfunc(5,arg2="Klaus")
myfunc(2)

 arg1 : 2
 arg2 : 3
 arg3 : 4

 arg1 : 2
 arg2 : 50
 arg3 : 11

 arg1 : 5
 arg2 : Klaus
 arg3 : 49

 arg1 : 2
 arg2 : 50
 arg3 : 49

In [3]:
# lamda function (anynomous Function)
#Syntax:
"""
variable=lambda arg1,arg2,...:expression
note: Only one expression
note: any number of arguments
note: here variable holds a function
"""

square = lambda num: num * num
#calling lambda 
n=int(input())
print("Square of the number {} is {}".format(n,square(n)))

 4

Square of the number 4 is 16

In [ ]:
square = lambda num1,num2=10: num1 + num2
#calling lambda function
n1=int(input())
n2=int(input())
print("Sum of the number {} and {} is {}".format(n1,n2,square(n1,n2)))
#default parameter
print("Sum of the number {} and {} is {}".format(n1,10,square(n1)))

In [ ]:
#string slicing
mystr = 'UNIVERSITY'
print(mystr[0:4])
print(mystr[4:])
print(mystr[:5])
print(mystr[-5:-1])
print(mystr[-6:])
print(mystr[:-6])
print(mystr[-8:8])
print(mystr[-3:-8])
print(mystr[8:0:-1])
'''
OUTPUT:

UNIV
ERSITY
UNIVE
RSIT
ERSITY
UNIV
IVERSI
BLANK LINE
TISREVIN
'''

In [ ]:
mystr="CaLcuTTa uNiveRSiTy"
print(mystr)
print (mystr.capitalize())
print (mystr.upper())
print (mystr.lower())
print (mystr.swapcase())
#mystr.tab listsout all the methods.
print (mystr.find("TTa"))
print (mystr.find("tta"))
print (mystr.index("TTa"))
print (mystr.index("tta"))


"""
5
-1 (find can handle error)
5
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-11-172201a22104> in <module>
      9 print (mystr.find("tta"))
     10 print (mystr.index("TTa"))
---> 11 print (mystr.index("tta"))

ValueError: substring not found  NOTE:(index CANNOT HANDLE ERROR)
"""

In [19]:
mystr="CaLcuTTa uNiveRSiTy"
print (mystr.isalpha())
#Checks if all the elements are alphabets only.(space is also not considered as alphabet)
print (mystr.isalnum())
#Checks if all the elements are alphabets and digits both.
print (mystr.isnumeric())
#Checks if all the elements are digits only.
print (mystr.isdigit())
#Checks if all the elements are digits only.
mystr="***hello**world***"
print (mystr,len(mystr))
print (mystr.strip("*"),len(mystr.strip("*")))
print (mystr.lstrip("*"),len(mystr.lstrip("*")))
print (mystr.rstrip("*"),len(mystr.rstrip("*")))

False
False
False
False
***hello**world*** 18
hello**world 12
hello**world*** 15
***hello**world 15

In [1]:
mystr="Old Year"
print(mystr)
mystr=mystr.replace("Old","New")
print(mystr)

Old Year
New Year

In [4]:
mystr = "Wishing you a happy new year"
mylist = mystr.split(" ")
print (mylist)
for i in mylist:
    print (i)
for j in i:
    print(j)

['Wishing', 'you', 'a', 'happy', 'new', 'year']
Wishing
you
a
happy
new
year
y
e
a
r

In [10]:
mystr="university"
print (mystr.endswith("sity"))
print (mystr.endswith("ver",3,6))
print (mystr.endswith("ver",-7,-4))
print (mystr.endswith("ver"))

True
True
True
False

In [11]:
mystr="university"
print (mystr.startswith("sity"))
print (mystr.startswith("ver",3))
print (mystr.startswith("ver",-7,-4))
print (mystr.startswith("ver"))

False
True
True
False

In [12]:
mystr="calcutta"
print (mystr.isupper())
print (mystr.islower())
mystr="CALCUTTA"
print (mystr.isupper())
print (mystr.islower())
mystr="calCUTTA"
print (mystr.isupper())
print (mystr.islower())

False
True
True
False
False
False

In [13]:
mystr="calCUTTA"
print (mystr.isspace())
mystr="  "
print (mystr.isspace())

False
True

In [14]:
mystr="calCUTTA"
print (mystr,mystr.swapcase())

calCUTTA CALcutta

In [21]:
a=150
b=632
"""
a= 128 + 16 + 4 + 2
a= 0000 0000 1001 0110
b= 512 + 64 + 32 + 16 + 8
b= 0000 0001 0111 1000
"""
print (a,b,a&b,a|b,~a,a^b)

150 632 16 766 -151 750

In [20]:
a= 5>4 and 3>2
print (a)
a= 5>4 and 3>12
print (a)

True
False

In [27]:
import math
a= 4.6
print (math.ceil(a))
print (math.floor(a))
b=9
print (math.sqrt(b))
print (math.exp(3.0))
print (math.log(2.0)) #base e
print (math.pow(2.0,3.0))
print (math.cos(0))
print (math.sin(0))
print (math.tan(45))
print (abs(-100))
print (math.log(2.0,2))
print (math.log(100,10))

5
4
3.0
20.085536923187668
0.6931471805599453
8.0
1.0
0.0
1.6197751905438615
100
1.0
2.0

In [33]:
n=input()
s=0
for i in range(len(n)):
    k=int(n[i])*pow(2,len(n)-1-i)
    s=s+k
print(s)

 111

7

In [3]:
n=int(input())
s=0
c=0
while(n!=0):
    x=n%10
    k=x*pow(2,c)
    s=s+k
    n=n//10
    c+=1
print(int(s))

 1111

15