In [123]:
#Day 3

In [124]:
#Dealing with list data types...
#Mutable, can have elements with different data types, enclosed with a square brackets.
#Syntax
#l=[]
grocery_list=['juice','tomatoes','potatoes','bananaes']
print(grocery_list)
grocery_list[0]='green juice'
print(grocery_list)
grocery_list[0]=5
print(grocery_list)

['juice', 'tomatoes', 'potatoes', 'bananaes']
['green juice', 'tomatoes', 'potatoes', 'bananaes']
[5, 'tomatoes', 'potatoes', 'bananaes']

In [125]:
#slicing
print(grocery_list[1:3])
print(grocery_list[-3:-1])

['tomatoes', 'potatoes']
['tomatoes', 'potatoes']

In [126]:
other_events=["wash","Drive","Cash","Move","Write","back"]
todoList=[grocery_list,other_events]
print(todoList)

[[5, 'tomatoes', 'potatoes', 'bananaes'], ['wash', 'Drive', 'Cash', 'Move', 'Write', 'back']]

In [127]:
print(todoList[1][1])

Drive

In [128]:
print(grocery_list)
grocery_list.append("onions")
print(grocery_list)
grocery_list.insert(1,"pickle")
print(grocery_list)

[5, 'tomatoes', 'potatoes', 'bananaes']
[5, 'tomatoes', 'potatoes', 'bananaes', 'onions']
[5, 'pickle', 'tomatoes', 'potatoes', 'bananaes', 'onions']

In [129]:
color=["red","blue","green"]
todoList.append(color)
print(todoList)
print(todoList[0:3][2])

[[5, 'pickle', 'tomatoes', 'potatoes', 'bananaes', 'onions'], ['wash', 'Drive', 'Cash', 'Move', 'Write', 'back'], ['red', 'blue', 'green']]
['red', 'blue', 'green']

In [130]:
print(grocery_list)
grocery_list.append("pickle")
grocery_list.remove(5)
print(grocery_list)

[5, 'pickle', 'tomatoes', 'potatoes', 'bananaes', 'onions']
['pickle', 'tomatoes', 'potatoes', 'bananaes', 'onions', 'pickle']

In [131]:
todoList.remove(color)

In [132]:
print(grocery_list)
grocery_list.sort()
print(grocery_list)
print(todoList)

['pickle', 'tomatoes', 'potatoes', 'bananaes', 'onions', 'pickle']
['bananaes', 'onions', 'pickle', 'pickle', 'potatoes', 'tomatoes']
[['bananaes', 'onions', 'pickle', 'pickle', 'potatoes', 'tomatoes'], ['wash', 'Drive', 'Cash', 'Move', 'Write', 'back']]

In [133]:
l=[9,8,6,3,4,3]
l.sort() #Returns Null ? (Find)
print(l)
print(l[2])

[3, 3, 4, 6, 8, 9]
4

In [134]:
print(l.reverse())
print(l)

"""
None() returns  N
[9, 8, 6, 4, 3, 3]
"""

None
[9, 8, 6, 4, 3, 3]

'\nNone() returns  N\n[9, 8, 6, 4, 3, 3]\n'

In [135]:
print(grocery_list)
del grocery_list[0]
del grocery_list[2:4]
print(grocery_list)

['bananaes', 'onions', 'pickle', 'pickle', 'potatoes', 'tomatoes']
['onions', 'pickle', 'tomatoes']

In [136]:
myList1=["qq",34.4,True,100]
myList2=["aa",32.2,False,435]
print(myList1)
print(myList2)
myList3=myList1+myList2
print(myList3)
myList4=myList1,myList2
print(myList4)

['qq', 34.4, True, 100]
['aa', 32.2, False, 435]
['qq', 34.4, True, 100, 'aa', 32.2, False, 435]
(['qq', 34.4, True, 100], ['aa', 32.2, False, 435])

In [137]:
print(myList1)
del myList1
print(myList)
"""
OUTPUT
NameError: name 'myList' is not defined
"""

['qq', 34.4, True, 100]
[[1, 2, 3], [3, 4, 5], [5, 6, 7]]

"\nOUTPUT\nNameError: name 'myList' is not defined\n"

In [138]:
l1=[2,1,3,7,5,7]
print(len(l1))
print(max(l1))
print(min(l1))

6
7
1

In [139]:
myList=[[1,2,3],[3,4,5],[5,6,7]]
for i in myList:
    print(i)
    for j in i:
        print(j)

[1, 2, 3]
1
2
3
[3, 4, 5]
3
4
5
[5, 6, 7]
5
6
7

In [140]:
# Tuple Data Types...
# Immutable,enclosed in ().
# example
myTuple=(1,2,"amit","male",34)
print (myTuple)

(1, 2, 'amit', 'male', 34)

In [141]:
pi_tuple=(3,1,4,"amit",5,9)
print(pi_tuple[3])

amit

In [142]:
# pi_tuple[3]=9
"""
OUTPUT:
TypeError: 'tuple' object does not support item assignment
Because Tuple is immutable.
"""

"\nOUTPUT:\nTypeError: 'tuple' object does not support item assignment\nBecause Tuple is immutable.\n"

In [143]:
pl_tuple=list(pi_tuple)
print(pl_tuple)
pl_tuple.append("ram")
pi_tuple=tuple(pl_tuple)
print(pi_tuple)

[3, 1, 4, 'amit', 5, 9]
(3, 1, 4, 'amit', 5, 9, 'ram')

In [144]:
my_tuple=(3,2,4,1,9)
print(len(my_tuple))
print(max(my_tuple))
print(min(my_tuple))

5
9
1

In [145]:
#Dectionary data types...

In [146]:
fruit={"banana":"yellow",
       "apple":"Red",
       "Orange":"Orange",
       "guava":"Green",
       "grape":"Black"
}
print(fruit)

{'banana': 'yellow', 'apple': 'Red', 'Orange': 'Orange', 'guava': 'Green', 'grape': 'Black'}

In [147]:
print(fruit["banana"])

yellow

In [148]:
del fruit["guava"]
print(fruit)

{'banana': 'yellow', 'apple': 'Red', 'Orange': 'Orange', 'grape': 'Black'}

In [149]:
# del fruit["mango"]
# print(fruit)
"""
OUTPUT:
KEYERROR
no key with name mango
"""

'\nOUTPUT:\nKEYERROR\nno key with name mango\n'

In [150]:
fruit["grape"]='green'
fruit["mango"]='tasty'
print(fruit)

{'banana': 'yellow', 'apple': 'Red', 'Orange': 'Orange', 'grape': 'green', 'mango': 'tasty'}

In [151]:
print (fruit.get("grape"))
print (fruit.keys())
print (fruit.values())
print (fruit.items())

green
dict_keys(['banana', 'apple', 'Orange', 'grape', 'mango'])
dict_values(['yellow', 'Red', 'Orange', 'green', 'tasty'])
dict_items([('banana', 'yellow'), ('apple', 'Red'), ('Orange', 'Orange'), ('grape', 'green'), ('mango', 'tasty')])

In [153]:
#del fruit
#print(fruit)

In [156]:
# dealing with set
# creating with empty set
empty_set=set()
empty_set

set()

In [157]:
print(empty_set)

set()

In [158]:
languages ={"python","r","java"}
snakes=set(["cobra","viper","python","python"])
print(languages)
print(snakes)

{'python', 'r', 'java'}
{'python', 'cobra', 'viper'}

In [159]:
len(snakes)

3

In [161]:
"python" in languages

True

In [162]:
"Kotlin" not in languages

True

In [163]:
#Set intersection
languages & snakes

{'python'}

In [164]:
# set union
languages | snakes

{'cobra', 'java', 'python', 'r', 'viper'}

In [165]:
#set difference
languages-snakes

{'java', 'r'}

In [166]:
#set difference
snakes-languages

{'cobra', 'viper'}

In [167]:
languages.add("sql")
languages.add("r")
languages.remove("java")
print(languages)

{'python', 'r', 'sql'}

In [174]:
languages.remove("c++") #cannot handle exception
"""
---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
<ipython-input-173-48a35ce432ad> in <module>
----> 1 languages.remove("c++")

KeyError: 'c++'
"""

'\n---------------------------------------------------------------------------\nKeyError                                  Traceback (most recent call last)\n<ipython-input-173-48a35ce432ad> in <module>\n----> 1 languages.remove("c++")\n\nKeyError: \'c++\'\n'

In [169]:
languages.discard("c++")
# can handle exception

In [172]:
try:
    languages.remove("c++")
except KeyError as e:
    print ("Error:",e)

Error: 'c++'

In [177]:
languages.pop()
#retrive arbitary member

'sql'

In [179]:
languages.clear()
#clear the elements of set, Basically an empty set
print(languages)

set()

In [182]:
languages.update("scala",'go')
# what it does check
print(languages)

{'l', 'o', 'a', 'c', 's', 'g'}

In [184]:
sorted(set([9,0,2,3,41,2]))

[0, 2, 3, 9, 41]

In [185]:
mySet={"amal",True,9.8,9}
print(mySet)

{True, 9, 9.8, 'amal'}